#intro{position:absolute; top:45%; left:40%; margin:-160px 0 0 -390px;}
#intro h1{margin-top:34px; cursor:default;}
#intro span {opacity:0;}
span.claim{font-family:"Arial"; font-size:300px; line-height:226px; color:#06afa2; letter-spacing:-3px; float:left; margin-right:20px; cursor:default;}
h1 {font-family:"TitilliumText22LThThin"; font-weight:100; font-size:45px; line-height:51px; color:#999; letter-spacing:-3px; float:left;}
.grey{color:#333;}
.green{color:#06afa2;}
a {font-family:"Abel","HelveticaNeue Light","TitilliumText22LThThin","Lucida Grande"; text-decoration:none; color:blue;}
strong {color:#666;}
a:hover{cursor:pointer;}